/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu';
  font-size: 16px;
  color: gray;
}

/* utilities */
.container {
  width: 1200px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.w-50 {
  width: 50%;
}
.w-3 {
  width: calc(100% / 3);
}
.right {
  text-align: right;
}
/* typography */
.text-small {
  font-size: 80%;
}
.small-title {
  color: #33475b
}
.line-spacing {
  line-height: 30px;
}
.orange {
  color: #fe775a;
}
/* STYLE HEADER */
.header-top-nav {
  background: #f4f9fd;
  font-size: 90%;
  border-bottom: 1px solid #32495b;
  line-height: 90px;
}
/* style top menu */
.menu-inline {
  list-style: none;
  position: relative;
}
.menu-inline li {
  display: inline-block;
  padding-right: 15px;
}
#color {
  color: #899397;
}
.container .w-50 a {
  text-decoration: none;
  font-weight: 650;
  color: #495d6d;
}
.container a:hover,
.container a:active,
.container a:focus {
  color: #e3ba3c;
}
#color-orange {
  color: #fe775a;
}
#color-white {
  color: #fff;
}
#search {
  color: #0aa9c0;
}
/* style buttons */
.btn-small {
  display: inline-block;
  border-radius: 5px;
  padding: 6px 5px;
  border: 1px solid #fe775a;
  background-color: #fe775a;
  line-height: 23px;
  text-decoration: none;
}
.btn-transparent{
  background: none;
}
.btn-large {
  display: inline-block;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #fe775a;
  line-height: 23px;
  text-decoration: none;
  font-size: 80%;
  color: #fff;
}
/* bottom nav */
.w-50 img{
 padding: 30px 0;
}
.second-nav {
  padding: 40px 0;
}
/* jumbotron */
.jumbotron {
  padding-top: 80px;
  height: 600px;
  background-image: url('../img/jumbotron.png');
  background-position: 0% 47%;
  background-size: 1528px 780px;
  background-repeat: no-repeat;
}
.jumbotron .content {
  width: 45%;
  height: 350px;
}
.content h1 {
  margin-bottom: 30px;
  font-size: 300%;
  color: #33475b;
}
.content p {
  color: #33475b;
}
.button {
  padding: 30px 0;
}
/* bottom */
.bottom-header {
  height: 80px;
  background: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* STYLE MAIN */
/* top main */
#info {
  background: #f4f9fd;
}
#cube {
  height: 133px;
  width: 188px;
  position: relative;
  left: 42%;
  margin-top: 30px;
}
.middle-title{
  color: #33475b;
  text-align: center;
}
.middle-title p {
  padding: 20px 181px 25px;
  line-height: 30px;
}
/* center main */
.info-box-full {
  background: #fff;
  border: 1px solid #e7edf2;
  border-radius: 7px;
  margin-bottom: 40px;
}
.info-box-full .col-sx {
  width: 30%;
}
.col-sx img {
  position: relative;
  height: 80px;
  left: 30%;
  margin-top: 30px;
}
.col-sx .btn-large {
  margin-left: 28%;
}
.info-box-full .col-dx {
  width: 70%;
  padding-top: 25px;
}
.col-dx h3 {
  padding-bottom: 20px;
}
.col-dx p {
  padding: 0 138px 20px 0;
  color: #3a4e61;
}
.line {
  position: relative;
  padding-bottom: 20px;

}
.line::after {
  content: '';
  position: absolute;
  bottom: 27px;
  left: 23%;
  width: 56%;
  height: 2px;
  transform: translateY(-67%);
  background: #899397;
}
.col-dx .menu-inline {
  color: #3a4e61;
  padding-bottom: 50px;
}
/* debug elements remove after */
.box{
  width: 100%;
  height: 100px;
  background: rgba(155, 155, 155, 0.5);
}
.box-2{
  width: 100%;
  height: 100px;
  background: rgba(155, 0, 155, 0.5);
}
.box-3{
  width: 100%;
  height: 100px;
  background: rgba(0, 155, 155, 0.5);
}
